
.footer__top {
    border-bottom: 1px solid #979797;
    display: flex;
    padding-top: 124px;
    padding-bottom: 42px;
}
.footer__list {
    margin-left: 138px;
    list-style: none;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    width: 324px;
}
.footer__item {
  
    width: 50%;
}
.footer__item--name {
    font-size: 20px;
    line-height: 18px;
    color: #003846;
}
.footer__link {
    font-size: 14px;
line-height: 34px;
color: #222124;
&:hover{
    color: $accent-color;
}
}
.footer__content {
    width: 286px;
}
.footer__aloqa {
    font-family: Inter;
font-size: 20px;
line-height: 18px;
color: #222124;
margin: 0;

}
.footer__btn{
    border: none;
    background: none;
    font-size: 20px;
    line-height: 18px;
    color: #003846;
}
.footer__num {
    font-size: 25px;
line-height: 33px;
color: #222124;
margin: 0;
margin-top: 33px;
margin-bottom: 13px;
}
.footer__text {
    font-size: 14px;
    line-height: 24px;
    color: #222124;
    mix-blend-mode: normal;
    opacity: 0.7;
    margin: 0;
}
.footer__bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 31px;
    padding-bottom: 31px;
}
.footer__social {
    width: 205px;
    display: flex;
    justify-content: space-between;
}
.footer__social-link:hover{
    
   path{
    fill: $accent-color;
    transition: .3s ease all;
   } 
   
}
@media screen and (max-width:  $mobile) {
    .footer__top{
        flex-direction: column;
        text-align: center;
    }
  .footer__link{
      display: none;
  }
  .footer__list{
      
      margin: 0 auto;
      margin-top: 40px;
      flex-direction: column;
  }
  .footer__item{
      width: 100%;
  }
  .footer__content{
      margin: 0 auto;
  }
  .footer__btn{
      margin: 0 auto;
      text-align: center;
      padding: 14px;
      width: 100%;
  
     display: inline;
    
      background: #F1F1F1;
      border-radius: 27px;
      margin-bottom: 24px;
  }
  .footer__num{
    font-size: 25px;
  }
  .footer__bottom{
      text-align: center;
      flex-direction: column-reverse;
  }
  .footer__social{
      margin: 0 auto;
      margin-bottom: 40px;
  }
}